// Colors
$logo-color: #FFF64A;
$marron-primario:#CB8951;
$marron-secundario:#B46944;
$gris:#987E6D;
$negro:#202020;
$blanco:#ffffff;
$marron-oscuro:#8C4F2F;


// Sizes
$main-margin: 1rem;
$main-padding: 6rem;
$main-mobile-padding: 3rem;